.services{
    padding:0 3rem 0 3rem;
    display: flex;
    /* height: 75vh; */
    margin-bottom: 8rem;
    margin-top: 5rem;
    margin-bottom: 13rem;
    background-color: #ffc40c;
}
.awasome{
    display: flex;
    flex-direction: column;
    position: relative;

}
.awasome >:nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}
.awasome >:nth-child(2){
    color: #ffff;
    font-size: 2.5rem;
    font-weight: bold;

}
.awasome >:nth-child(3){
    color: var(--black);
    font-size: 14px;
    margin-top: 1rem;
}

.awasome >:nth-child(4){
    width: 10rem;
    height: 2rem;
    padding: 3px;
}
.cards{
    display: flex;
    margin: 20px;
    
}
.s-button{
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}
.discription{
    margin: 10px;
}

